<h1>
  Edit Order</h1>
<form [formGroup]="editOrderForm" novalidate><br>
  <label>Name</label>
  <input type="text" placeholder="name" formControlName="name" >
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="danger">
    required</div>
  <br><br>
  <label>EmailId</label>
  <input type="text" placeholder="EmailId" formControlName="emailId" >
  <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="danger">
    required</div>
  <br><br>
  <label>MobileNumber</label>
  <input type="text" placeholder="mobileNumber" formControlName="mobileNumber" >
  <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="danger">
    required</div>
  <br><br>
  <label>Pincode</label>
  <input type="text" placeholder="pincode" formControlName="pincode" >
  <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="danger">
    required</div>
  <br><br>
  
  <label>Address</label>
  <input type="text" placeholder="Address" formControlName="address" >
  <div *ngIf="address.invalid && (address.dirty || address.touched)" class="danger">
    required</div>
  <br><br>
  
  <label>City</label>
  <input type="text" placeholder="City" formControlName="city" >
  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="danger">
    required</div>
  <br><br>
  <label >Date</label>
  
  <input class="form-control" placeholder="yyyy-mm-dd"  name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="date">

<button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">date</button>
<div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger">
  required</div>
<br>
    
    <br>
  <button (click)="editOrder()">EditOrder</button>
  
</form>

